<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/javascripts/stats.min.js"></script>
    <script type="text/javascript" src="/javascripts/three.min.js"></script>

    <script type="text/javascript" src="/javascripts/config.js"></script>
    <script type="text/javascript" src="/javascripts/timer.js"></script>
    <script type="text/javascript" src="/javascripts/entities.js"></script>
    <script type="text/javascript" src="/javascripts/engine.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>

  </body>
</html>
